
.inputs{
    display: flex;
    justify-content: center;
}
  
.bottom{
    display: flex;
    justify-content: space-between;
    width: 83rem;
}
  
.complexity{
    display: flex;
    justify-content: flex-start;
}
  
#form{
    width: 5rem;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}

.col-form-label{
    display: flex;
    align-items: center;
}