
.container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  margin-top: 20px;
  background-color: aqua;
}

h2 {
  text-align: center;
  padding: 10px;
}

div{
  text-align: center;
}
