
.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

.item{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: aquamarine;
  width: 800px;
  height: 230px;
  padding: 5px;
  margin: 10px;
}

h2 {
  text-align: center;
  padding: 5px;
}

div{
  text-align: center;
}
