.App {
  background-color: #282c34;
  color: white;
  height: 100vh;
  padding-top: 10px;
}

.header{
  margin: 20px;
  color: cornflowerblue;
}

div{
  text-align: center;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
}

.columns{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1350px;
  height: 450px;
  margin: 10px;
}

.btn{
  margin-left: 20px;
  margin-top: 10px;
}

.input-group{
  display: flex;
  justify-content: center;
}

.bottom{
  display: flex;
  justify-content: space-between;
  width: 1350px;
}

.complexity{
  margin-top: 15px;
}